#bouncer {
  position: absolute;
  width: 15px;
  height: 15px;
  background: blue;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: 3.7em;
  margin-left: 3.9em;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

#legs {
  position: absolute;
  width: 1px;
  height: 8px;
  background: blue;
  border-radius: 10px;
  margin-top: 4.4em;
  margin-left: 4.5em;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}

#legs2 {
  position: absolute;
  width: 1px;
  height: 8px;
  background: blue;
  border-radius: 10px;
  margin-top: 4.4em;
  margin-left: 4.2em;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
